{% extends 'base.html' %}
{% load static %}
{% block head %}

{% endblock %}

{% block content %}

<div class="container d-flex m-3" style="background-color:blanchedalmond;">
    <div class="card m-2" style="width: 18rem; background-color:cadetblue">
      <img src="{% static 'media/STUDENTS-ON-COMPUTERS.jpg' %}" height="150" width="260" alt="">
  
      <div class="card-body">
        <h5 class="card-title">Basic Computer Classes: </h5>
        <p class="card-text">        
        <p class="card-text">The coaching center offers comprehensive basic computer classes designed for beginners. These classes cover essential skills such as operating systems, internet usage, and basic software applications like Microsoft Office. Students will learn how to navigate the digital world confidently, making these classes perfect for those new to computers.</p>
      </p>
        <a href="#" class="btn btn-primary">Info.</a>
      </div>

    </div>
    <div class="card m-2" style="width: 18rem; background-color:cadetblue">
      <img src="{% static 'media/shutterstock.jpg' %}" height="150" width="260" alt="">
      <div class="card-body">
        <h5 class="card-title">Advanced Computer Courses: </h5>
        <p class="card-text">For those looking to deepen their knowledge, These classes delve into programming languages, web development, and data analysis. Students will gain hands-on experience with real-world projects, preparing them for careers in technology and IT,including programming languages like Python and Java, web development</p>
        <a href="#" class="btn btn-primary">Info..</a>
        
      </div>
    </div>
    <div class="card m-2" style="width: 18rem; background-color:cadetblue">
      <img src="{% static 'media/74721.jpg' %}" height="150" width="260" alt="">
      <div class="card-body">
        <h5 class="card-title">School Tutoring for Mathematics: </h5>
        <p class="card-text">The center also offers specialized tutoring for school students in mathematics. From basic arithmetic to advanced calculus, the experienced tutors help students understand complex concepts and improve their problem-solving skills. Personalized attention ensures that each student can progress at their own pace</p>
        <a href="#" class="btn btn-primary">Info...</a>
      </div>
    </div>
    <div class="card m-2" style="width: 18rem; background-color:cadetblue">
      <img src="{% static 'media/happy-cute-children-studying.jpg' %}" height="150" width="260" alt="">
      <div class="card-body">
        <h5 class="card-title">All 1 to 12 Classes: </h5>
        <p class="card-text">It offers foundational courses in mathematics, English, and science, using interactive activities and hands-on experiments to make learning engaging and fun. As students progress to higher classes, the center provides more advanced tutoring in subjects like algebra, geometry, physics, chemistry, and biology, ensuring they grasp complex concepts and excel in their exams.</p>
        <a href="#" class="btn btn-primary">Info....</a>
      </div>
    </div>
  </div>
{% endblock %}